/* ---------------------------------------------------------- */
/* header */
header{
    background-color: $color-black;
    color: $color-white;
    font-weight: bold;
    
    .container{
        @include clearfix;
        
        > * {
            height: 70px;
            line-height: 70px;
            float: left;  
        }
        .logo{
            width: 170px;
            text-align: left;
            a{
                color: #fff;
                text-decoration:none;
            }
        }
        .admin{
            width: 80px;
            text-align: right;
        }
        .menu{
            width: calc(100% - 170px - 80px);
        }
    }

    .menu .menu-list{
        text-decoration:none;
        width: 80px;
        text-align: center;
        display: inline-block;
        color: #9B9B9B;
        margin: 0 5px;
        padding: 0 10px;
        position: relative;
        
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80px;
            height: 4px;
            margin: auto;
            background-color: #fff;
            opacity: 0;
            transition: all 0.3s;
        }
        &:hover,&.active{
            color: #ffffff;
            &:after{
                opacity: 1;
            }
        }
    }

};
     
       
/* header END */   
/* ---------------------------------------------------------- */